<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StackGrid.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>722B1E4A1BA3F6CA0072E4B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>722B1E5E1BA3F6CA0072E4B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>722B1E691BA3F6CA0072E4B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
